.tarjeta{
  color: #665C84;
}
#dish{
  width: auto;
  text-align: center;
  color: #665C84;
  margin-bottom: 10px;
  font-size: 20px;
}
.price{
  color: #665C84;

}
img{
  height: 300px;
  width: auto;
}