#dish{
  width: auto;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: paleturquoise;
}
@media(min-width: 400px) and (max-width: 750px){
  #dish{
    width: 270px;
  }
  img{
    height: 300px;
    width: 300px;
  }
}
img{
  height: 200px;
  width: auto;
}
