/** Footer **/
footer {
  font-weight: bold;
  background: #FFBA5A;
  color: black;
  height: 100%;
}

.direccion {
  float: left;
  text-align: left;
  padding: 15px 0 15px 0px;
}

.direccion h1{
  margin-bottom: 10px;
}

.redes {
  float: right;
  padding: 15px 0 15px 0px;
}

#footer p {
  display: inline-block;
  font-size: 18px;
}

svg {
  margin: 5px 10px 0 0;
  height: 30px;
  font-size: 25px;
  color: black;
}

#footer .wp{
  margin-top: 0px;
}

.contacto {
  padding: 15px 0 15px 0px;
}